GisJkhService/Service References/GisZkhService/hcs-fas-types-9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dom.gosuslugi.ru/schema/integration/9.0.2.1/fas/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/9.0.2.1/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/9.0.2.1/fas/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sit02.dom.test.gosuslugi.ru:10082//ext-bus-fas-service/services/FASAsync?xsd=hcs-basetypes-9.0.2.1.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/9.0.2.1/" />
  <xs:element name="importRSORequest">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????? ?? ??????????, ???????????????????????????? ???????????????? ????????????????, ?????????????????????? ?????? ???????????????????????????? ???????????????????????? ??????????, ?? ?????????????????????????????? ????????, ?????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="100" name="RSO">
              <xs:annotation>
                <xs:documentation>?????????????????????????????????? ??????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ActualDate" type="xs:date">
                    <xs:annotation>
                      <xs:documentation>???????? ???????????????????????? ????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:choice>
                    <xs:element name="RSOActualDATA">
                      <xs:annotation>
                        <xs:documentation>???????????? ???????????????????? ???????????????? ?? ????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="base:INN" />
                          <xs:element minOccurs="0" ref="base:KPP" />
                          <xs:element name="Name">
                            <xs:annotation>
                              <xs:documentation>???????????????????????? ?????? ???? ?????? ??????????????, ?????? ?? ???????????????? ?????? ????</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="255" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="IsEntpr" type="xs:boolean">
                            <xs:annotation>
                              <xs:documentation>?????????????? ????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:choice minOccurs="0">
                            <xs:element ref="base:OGRN" />
                            <xs:element ref="base:OGRNIP" />
                          </xs:choice>
                          <xs:element maxOccurs="unbounded" name="Resource">
                            <xs:annotation>
                              <xs:documentation>???????????????????????? ?????? ???????????????????????? ???? ???????????????? ????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ResourseType" type="tns:ResourseType">
                                  <xs:annotation>
                                    <xs:documentation>???????????????????????? ?????? ???????????????????????? ???? ???????????????? ???????????????? ???? ??????????????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="unbounded" name="OKTMO" type="base:OKTMORefType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????????????? ??????????????????????, ???? ???????????????????? ???????????????? ?????????????????????? ???????? ?????? ???????????????????????????? ?????????????????????????????? ???????????????????????? ???????????????????????? ???????? ???????????????????????? ???? ???????????????? ????????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="RegistryOfNaturalMonopolies">
                            <xs:annotation>
                              <xs:documentation>???????????? ?????????????????? ???????????????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Number">
                                  <xs:annotation>
                                    <xs:documentation>??????????</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Date" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ??????????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="RegistryGuaranteeingSuppliers">
                            <xs:annotation>
                              <xs:documentation>?????????????????????? ???????????????????????????? ???????????? ?????????????????????????? ?????????????????????? ?? ?????? ???? ????????????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Number">
                                  <xs:annotation>
                                    <xs:documentation>??????????</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Date" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ??????????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RemoveRSO">
                      <xs:annotation>
                        <xs:documentation>???????????????????????? ???????????????? ?? ??????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="base:INN" />
                          <xs:element ref="base:KPP" />
                          <xs:choice minOccurs="0">
                            <xs:element ref="base:OGRN" />
                            <xs:element ref="base:OGRNIP" />
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importRSORequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ResourseType">
    <xs:annotation>
      <xs:documentation>???????????????????????? ?????? ???????????????????????? ???? ???????????????? ???????????????? (???? ?????????????????????? ???????????? ????)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="ResourseTypeGIS">
    <xs:annotation>
      <xs:documentation>???????????????????????? ?????? ???????????????????????? ???? ???????????????? ???????????????? (???? ?????????????????????? ?????????? ???????????????????????? ?????? ??????)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="01">
        <xs:annotation>
          <xs:documentation>???????????????? ??????????????????????????/?????????????????????????????? ????????, ?????????????? ?????????????????????????? ????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="02">
        <xs:annotation>
          <xs:documentation>???????????????? ??????????????????????????/???????????? ???????? (???? ?????????????????? ?????????????????? ???????????? ???????????????? ????????????????????????????)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="03">
        <xs:annotation>
          <xs:documentation>?????????????? ?????????????????????????? ?? ???????????????????????????? ???????????????? ???????????? ???????????????????????????? (???????????????? ??????????????????????????)/?????????????????????????? ???????? ???? ?????????? ???????????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="04">
        <xs:annotation>
          <xs:documentation>??????????????????????????, ?? ?????? ?????????? ?????????????? ?????????????? ??????, ?????????????????? ?? ?????????????? ?????????????? ??????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="05">
        <xs:annotation>
          <xs:documentation>????????????????????????????/???????? ???????????????? ?????????????? ?? ??????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="06">
        <xs:annotation>
          <xs:documentation>????????????????????????????/?????????????????????? ?????????????????? ???????????????? ???????????????? ?????? ???????????????????? ?????????????????????? ???????????????? ??????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="07">
        <xs:annotation>
          <xs:documentation>???????????????? ?????????????????????????? ?????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="08">
        <xs:annotation>
          <xs:documentation>???????????? ???? ???????????????? (????????????????????) ???????????????????? ????????/???????????????????? ???????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="09">
        <xs:annotation>
          <xs:documentation>???????????? ???? ???????????????? (????????????????????) ???????????????????? ????????/???????????????????? ???????????????????? ???????? ?????????????????? ?????? ?????????????? ????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:documentation>???????????????? ?????????????? ????????????????, ?????????????? ?????????????? ???????????????? ?? ???????????????? ??????????????????/???????????????? ?????????????? ???????????????? ?????????????????? </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="11">
        <xs:annotation>
          <xs:documentation>????????????????????????????????: ???????????????? ?????????????????????????? ?????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="12">
        <xs:annotation>
          <xs:documentation>???????????? ???? ???????????????? (????????????????????) ???????????????????? ????????: ???????????????????? ???????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="13">
        <xs:annotation>
          <xs:documentation>???????????? ???? ???????????????? (????????????????????) ???????????????????? ????????: ???????????????????? ???????????????????? ???????? ?????????????????? ?????? ?????????????? ????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="14">
        <xs:annotation>
          <xs:documentation>???????????????? ?????????????? ????????????????, ?????????????? ?????????????? ???????????????? ?? ???????????????? ??????????????????: ???????????????? ?????????????? ???????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="15">
        <xs:annotation>
          <xs:documentation>???????????????? ?????????????? ????????????????, ?????????????? ?????????????? ???????????????? ?? ???????????????? ??????????????????: ???????????????? ?????????????? ?????????????? ???????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>